################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/HMS UI/HMS UI/bin/Debug/net6.0
/HMS UI/.vs
/HMS UI/HMS UI/obj
/HMS UI/AgendaPraticien_Api/bin/Debug/net6.0
/HMS UI/AgendaPraticien_Api/obj
/HMS UI/ApiGateway/bin/Debug/net6.0
/HMS UI/ApiGateway/obj
/HMS UI/ServicePriseDeRendezVous/bin/Debug/net6.0
/HMS UI/ServicePriseDeRendezVous/obj
/HMS UI/WebApplication1/bin/Debug/net6.0
/HMS UI/WebApplication1/obj
